# .clang-format
BasedOnStyle: LLVM        # 公式プリセットを基に微調整（GoogleでもOK）
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true
DerivePointerAlignment: false
